/* style.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Container */
header .container {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
header {
    background: #414141;
    color: #fff;
}

header .logo {
    text-decoration: none;
    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 700px;
}

nav ul li {
    transition: all 0.2s;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: #ffcc00; /* Cor de destaque ao passar o mouse */
}

nav ul li:hover {
    transform: translateY(-3px);
}

/* Hero Section */
.hero {
    background: url('/image/cidade.png') no-repeat right center;
    background-size: contain; /* ou 'cover' */
    color: #000000;
    text-align: start;
    padding: 200px 20px;
    height: 550px; /* Ajuste a altura conforme necessário */
}

hr {
    width: 50%;
    border: 2px solid #019EDF;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    max-width: 600px;
    margin: start;
}

/* Responsividade */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }
}